:root {
  --blue: #604CFF;
  --blueline: #5641F7;
  --bluelight: #9D82F7;
  --bluehighlight: #D2AEFF;

  --pink: #F8A8CD;
  --pinkline: #d44c8b;
  --pinklight: #F4CFE2;
  --pinkhighlight: #FFD3E7;

  --textshadow: #1a3c74;
}

/*----*/

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-mono-roman {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost-roman {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*----*/

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--blue);
  border-top: 3px solid var(--blueline);
  box-shadow: inset 0px 3px 3px var(--bluelight);
  height: 40px;
  width: 100vw;

  position: fixed;
  bottom: 0;
  left: 0;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
}

h3 {
  font-family: "Roboto Mono", monospace;
}

p, h2, h4, h5, h6, a {
  font-family: "Comic Relief", system-ui;
}