.draggable-window {
  min-width: 200px;
  min-height: 200px;
  max-width: 1000px;
  max-height: 95vh;

  background: #f2f2f2;
  border: 2px solid #2b4fa2;
  border-radius: 4px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.150);
  user-select: none;
  z-index: 999;
  overflow: hidden;
}

/* window body */
.window-content {
  padding: 0;
  height: calc(100% - 40px);
  overflow: none;
  border: 3px solid var(--blueline);
  background: #fff;
}

/* Titlebar is the draggable area */
.window-header {
  height: 35px;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  padding: 0 8px;
  cursor: grab;
  color: white;
  font-weight: 600;
  background-color: var(--blue);
  box-shadow: inset 0px 5px 3px var(--bluelight);
}

/* show grabbing cursor while dragging */
.window-header:active {
  cursor: grabbing;
}

.window-icon-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.title-text {
  font-size: 14px;
  font-weight: 500;
}

.window-icon {
  width: 20px;
  height: auto;
}

.window-action-buttons {
  display: flex;
  gap: 3px;
  margin-top: 5px;
}

.window-action-buttons img {
  width: 25px;
  height: auto;
}

.close-btn,
.minimize-btn,
.maximize-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
