.body-wrapper {
  height: 95vh;
  background: url('/Portfolio/wallpaper.png');
  background-size: cover;
  background-position: center 70%;


  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: 100px;
  gap: 10px;
  padding: 10px;
}

/* desktop icons */

.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  cursor: pointer;
  transition: all 0.2s;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.093);
  border-radius: 10px;
}

.icon img {
  width: 48px;
  height: 48px;
}

.icon p {
  margin-top: 6px;
  font-size: 14px;
  color: white;
  text-align: center;

  text-shadow:
    1px 1px 0 var(--textshadow),
    -1px 1px 0 var(--textshadow),
    1px -1px 0 var(--textshadow),
    -1px -1px 0 var(--textshadow);
}

.mid-icons {
  grid-column: 1 / 1;
  align-self: bottom;
  display: grid;
  grid-auto-rows: 100px;
  gap: 10px;
}

.bottom-icons {
  grid-column: 1 / 0;
  /* align-self: bottom; */
  display: grid;
  grid-auto-rows: 100px;
  gap: 10px;
}


.window-content-area {
  height: 100%;
  overflow-y: auto;
}

.window-content-area::-webkit-scrollbar {
  width: 0;
}

.window-content-area ul{
  list-style-type: none;
  margin-top: 0;
  padding-left: 15px;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
}

.window-content-area h3 {
  margin-bottom: 5px;
  margin-top: 10px;
}

.window-content-area p {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
}

.contact-icons {
  display: flex;
  gap: 10px;
}

.contact-icons svg {
  font-size: xx-large;
  color: black;
  transition: color 0.2s ease;
}

.github-icon:hover svg,
.linkedin-icon:hover svg {
  color: var(--pink)
}


/* window header */

.window-header-menu {
  background: var(--pinklight);
  border-bottom: 1px solid var(--pinkline);
  padding: 2px 6px;
  height: 22px;
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

.menu-unlist {
  cursor: default !important;
  color: #C887A2 !important;
}

.menu-list li {
  font-size: 13px;
  cursor: pointer;
  font-family: "Tahoma", sans-serif;
  color: black;
  transition: color 0.2s ease;
}

.menu-list li:hover {
  color: var(--pinkline);
}

.menu-list li.active {
  color: var(--blueline);
}

.resume-img {
  object-fit: contain;
  width: 420px;
  height: auto;
}

/* .menu-list li.active {
  background: linear-gradient(#d6e7ff, #9fbdf7);
  border: 1px solid #4b70c8;
  box-shadow: inset 0 1px 0 #ffffff,
              inset 0 -1px 0 #6b94f2;
  padding: 2px 6px;
  border-radius: 3px;
}
.menu-list li:hover {
  background: linear-gradient(#f3f8ff, #c7ddff);
  border: 1px solid #4b70c8;
  box-shadow: inset 0 1px 0 #ffffff,
              inset 0 -1px 0 #7ba3f7;
  padding: 2px 6px;
  border-radius: 3px;
}

VERY ACCURATE BUTTON :O */
