:root {
  --blue: #604CFF;
  --blueline: #5641F7;
  --bluelight: #9D82F7;
  --bluehighlight: #D2AEFF;

  --pink: #F8A8CD;
  --pinkline: #d44c8b;
  --pinklight: #F4CFE2;
  --pinkhighlight: #FFD3E7;

  --textshadow: #1a3c74;

  /* --blue: #285EE6;
  --blueline: #2056DD;
  --bluelight: #6591FF;
  --bluehighlight: #6591FF;

  --pink: #D8CFCA;
  --pinkline: #AFAFAF;
  --pinklight: #DBDBDB;
  --pinkhighlight: #d1d1d1; */
}

/*----*/

.roboto-mono-roman {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.jost-roman {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/*https://www.fontspace.com/sterion-font-f113971*/
@font-face {
  font-family: "Sterion";
  src: url("./assets/fonts/Sterion-BLLld.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sterion";
  src: url("./assets/fonts/SterionItalic-R99PA.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}


/*----*/

body {
  margin: 0;
  padding: 0;
}

footer {
  background-color: var(--blue);
  border-top: 3px solid var(--blueline);
  box-shadow: inset 0px 3px 3px var(--bluelight);
  height: 35px;
  width: 100vw;

  position: fixed;
  bottom: 0;
  left: 0;
}

h1 {
  font-family: "Sterion", sans-serif;
}

h3 {
  font-family: "Roboto Mono", monospace;
}

p, h2, h4, h5, h6, a {
  font-family: "Comic Relief", system-ui;
}

/* footer stuff*/

.footer-tab-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.start-btn {
  background-color: var(--pink);
  font-weight: 500;
  font-style: italic;
  height: 35px;
  width: 115px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  margin-right: 10px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;

  padding-left: 10px;
  cursor: pointer;

  box-shadow:
    inset 0px 6px 5px var(--pinkhighlight),
    inset 0px -4px 6px var(--pinkline),

    0px 2px 4px var(--pinkline),
    0px -1px 1px var(--pinkline),
    -1px 0px 1px var(--pinkline),
    1px 0px 1px var(--pinkline);
}

.start-btn p {
  font-weight: 600;
  font-size: 22px;
  font-style: italic;
  color: white;
}

.start-btn img {
  width: auto;
  height: 25px;
}

.start-menu {
  position: fixed;
  bottom: 38px;
  left: 0;

  width: 300px;
  height: 340px;

  background: var(--blue);
  border: 3px solid var(--blueline);
  box-shadow: inset 0px 3px 3px var(--bluelight);

  border-bottom: none;
  border-radius: 6px 6px 0 0;
  animation: startRise .18s ease-out;
  z-index: 9999;
}

@keyframes startRise {
  from { transform: translateY(5px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

.start-menu-header {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
  height: 50px;
  padding: 10px;
  margin-bottom: 5px;
}

.start-menu-header img {
  width: 25%;
  height: auto;
  border-radius: 5px;
  border: 3px solid var(--bluelight);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.2);
}

.start-menu-header p {
  font-size: 14px;
  font-weight: 600;
  color: white;
  padding: 0;
  cursor: default;
  text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.start-menu-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-menu-content {
  width: 100%;
  height: 230px;
  border: 3px solid var(--blueline);
}

.start-menu-content.left {
  text-align: center;
  background-color: white;
  border-right: none;
}

.start-menu-content.right {
  background-color: var(--pinkhighlight);
  border-left: black;
  width: 200px;
}


.taskbar-tab {
  background: linear-gradient(to bottom, var(--bluelight), var(--blue));
  color: white;
  border: 1px solid var(--blueline);
  border-radius: 10px;

  height: 30px;
  min-width: 170px;

  padding: 2px 8px;
  font-size: 12px;
  text-align: left;
  margin-left: 5px;

  display: flex;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  transition: all 0.5s ease;
}

.taskbar-tab:hover {
  background: linear-gradient(to bottom, #604CFF, #9D82F7);
}

.taskbar-tab-icon {
  width: 16px;
  height: auto;
}

.timer-tab {
  margin-left: auto;
  padding: 0 15px;
  font-size: 12px;
  font-weight: 400;
  color: white;
  height: 35px;

  background-color: var(--bluelight);
  border-left: 3px solid var(--blueline);
  box-shadow: inset 0px 3px 3px var(--bluehighlight);

  display: flex;
  align-items: center;
}